{% extends 'student/base.jinja' %}
{% load static %}

{% block style %}
    <link href="{% static 'student/css/lightgallery.min.css' %}" rel="stylesheet">

	<link href="{% static 'student/css/daterangepicker.css' %}" rel="stylesheet">
	<link href="{% static 'student/css/bootstrap-clockpicker.min.css' %}" rel="stylesheet">
	<link href="{% static 'student/css/bootstrap-material-datetimepicker.css' %}" rel="stylesheet">

	<link href="{% static 'student/css/pickadate.default.css' %}" rel="stylesheet">
	<link href="{% static 'student/css/pickadate.default.date.css' %}" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />



{% endblock style %}

{% block content %}
<div class="content-body">
	<div class="container-fluid">
		<div class="row page-titles mx-0">
			<div class="col-sm-6 p-md-0">
				<div class="welcome-text">
					<h4>Hi, welcome back!</h4>
					<p class="mb-0">4Schoolers welcomes you.</p>
				</div>
			</div>
			<div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="javascript:void(0)">Lessons</a></li>
					<li class="breadcrumb-item active"><a href="javascript:void(0)">Add Lesson</a></li>
				</ol>
			</div>
		</div>
		<!-- row -->
		<div class = "row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Schedule new Lesson</h4>
					</div>
					<div class="card-body">
						<form action="" method = "POST" name = "edit_account"> {% csrf_token %}
							<div class="form-row">
								<div class="form-group col-md-4">
									<label>Lesson name</label>
									<input required type="text" name = "name" value = "Homework help" class="form-control">
								</div>
								<div class="form-group col-md-4">
									<label>Subject</label>
										<select required class="form-control default-select" id="inputState" name = "subject">
											<option selected="">Mathematics</option>
											<option>Computer Science</option>
											<option>English</option>
											<option>Chemistry</option>
											<option>Physics</option>
											<option>History</option>
											<option>Academic Advising</option>
											<option>Competitive Math</option>
											<option>Projects</option>
											<option>Essay Writing</option>
										</select>
								</div>
								<div class="form-group col-md-4">
									<label>Teacher</label>

										<select class="js-dropdown-teachers" name="teacher">
											{% for teacher in employees %}
												<option value="{{teacher.pk}}">{{teacher.user.get_full_name}}</option>
											{% endfor %}
										</select>

								</div>
							</div>

							<div class="form-row">
								<div class="form-group col-md-12">
									<label >Description</label>
									<textarea rows="8" class="form-control" name="descr" placeholder="Description of the homework..." id="comment"></textarea>
								</div>
							</div>



							<div class="row form-material">
								<div class="col-xl-3 col-xxl-6 col-md-6 mb-3">
									<label>Lesson Start time</label>
									<input required type="text" class="form-control" placeholder="Set End Date and Time" name = "start"  id="min-date">
								</div>
								<div class="col-xl-3 col-xxl-6 col-md-6 mb-3">
									<label>Lesson End time</label>
									<input required type="text" class="form-control" name = "end" placeholder="Set End Date and Time" id="min-date-end">
								</div>
							</div>
							<label>{{error}}</label>
							<button class="btn btn-primary" type="submit">Schedule</button>
						</form>

					</div>
				</div>
            </div>
		</div>
	</div>
</div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'student/js/lightgallery-all.min.js'%}" ></script>

	<script src="{% static 'student/js/moment.min.js'%}" ></script>
	<script src="{% static 'student/js/daterangepicker.js'%}" ></script>

	<script src="{% static 'student/js/bootstrap-clockpicker.min.js'%}" ></script>

	<script src="{% static 'student/js/bootstrap-material-datetimepicker.js'%}" ></script>

	<script src="{% static 'student/js/picker.js'%}" ></script>
	<script src="{% static 'student/js/picker.time.js'%}" ></script>
	<script src="{% static 'student/js/picker.date.js'%}" ></script>



	<script src="{% static 'student/js/bs-daterange-picker-init.js'%}" ></script>
	<script src="{% static 'student/js/material-date-picker-init.js'%}" ></script>
	<script src="{% static 'student/js/pickadate-init.js'%}" ></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<script>
		$(document).ready(function() {
		$('.js-dropdown-teachers').select2();
	});
	</script>

{% endblock scripts %}
