{% extends 'manager/base.jinja' %}
{% load static %}

{% block style %}
    <link href="{% static 'manager/css/lightgallery.min.css' %}" rel="stylesheet">

	<link href="{% static 'manager/css/daterangepicker.css' %}" rel="stylesheet">
	<link href="{% static 'manager/css/bootstrap-clockpicker.min.css' %}" rel="stylesheet">
	<link href="{% static 'manager/css/bootstrap-material-datetimepicker.css' %}" rel="stylesheet">

	<link href="{% static 'manager/css/pickadate.default.css' %}" rel="stylesheet">
	<link href="{% static 'manager/css/pickadate.default.date.css' %}" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />



{% endblock style %}

{% block content %}
<div class="content-body">
	<div class="container-fluid">
		<div class="row page-titles mx-0">
			<div class="col-sm-6 p-md-0">
				<div class="welcome-text">
					<h4>Hi, welcome back!</h4>
					<p class="mb-0">4Schoolers welcomes you.</p>
				</div>
			</div>
			<div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="javascript:void(0)">Lessons</a></li>
					<li class="breadcrumb-item active"><a href="javascript:void(0)">Add Lesson</a></li>
				</ol>
			</div>
		</div>
		<!-- row -->
		<div class = "row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Create Employee</h4>
					</div>
					<div class="card-body">
						<form action="" method = "POST" name = "edit_account" enctype="multipart/form-data"> {% csrf_token %}
							<div class="form-row">
								<div class="form-group col-md-4">
									<label>First name</label>
									<input required type="text" name = "first_name" value = "" class="form-control">
								</div>
                <div class="form-group col-md-4">
									<label>Last name</label>
									<input required type="text" name = "last_name" value = "" class="form-control">
								</div>
                <div class="form-group col-md-4">
									<label>Username</label>
									<input required type="text" name = "username" value = "" class="form-control">
								</div>
							</div>

              <div class="form-row">
                <div class="form-group col-md-4">
									<label>Email</label>
									<input required type="text" name = "email" value = "" class="form-control">
								</div>
                <div class="form-group col-md-4">
									<label>Password</label>
									<input required type="text" name = "password" value = "" class="form-control">
								</div>
                <div class="form-group col-md-4">
									<label>Phone</label>
									<input type="text" name = "phone" value = "" class="form-control">
								</div>
              </div>

              <div class="form-row">
								<div class="form-group col-md-12">
									<label>Bio</label>
									<textarea rows="8" class="form-control" name="bio" id="descr"></textarea>
								</div>
							</div>

              <div class="form-row">
								<div class="form-group col-md-12">
									<label>Gender</label>
                  <select required class="js-dropdown-teachers" name="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                  </select>
								</div>
							</div>



              <div class = "form-row">
                <div class="form-group col-md-4">
									<label>Languages</label>
									<input type="text" name = "languages" value = "" class="form-control">
								</div>
                <div class="form-group col-md-4">
									<label>Interests</label>
									<input type="text" name = "interests" value = "" class="form-control">
								</div>
                <div class="form-group col-md-4">
									<label>Subjects</label>
									<input type="text" name = "subjects" value = "" class="form-control">
								</div>
              </div>

              <div class = "form-row">
                <div class="form-group col-md-4">
                  <label>School</label>
                  <input type="text" name = "school" value = "" class="form-control">
                </div>
                <div class="form-group col-md-4">
									<label>Graduation year</label>
									<input type="number" name = "graduation_year" value = "" class="form-control">
								</div>
                <div class="form-group col-md-4">
									<label>Education</label>
									<input type="text" name = "education" value = "" class="form-control">
								</div>
              </div>

              <div class = "form-row">
                <div class="form-group col-md-4">
                  <label>Title</label>
                  <input type="text" name = "title" value = "" class="form-control">
                </div>
                <div class="form-group col-md-4">
									<label>Fulltime</label>
                  <select required class="js-dropdown-teachers" name="is_fulltime">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                  </select>
                </div>
              </div>

              <div class = "form-row">
                <div class="form-group col-md-4">
									<label>Address</label>
									<input type="text" name = "address" value = "" class="form-control">
								</div>
                <div class="form-group col-md-4">
									<label>City</label>
									<input type="text" name = "city" value = "" class="form-control">
								</div>
                <div class="form-group col-md-4">
									<label>State</label>
									<input type="text" name = "state" value = "" class="form-control">
								</div>
                <div class="form-group col-md-4">
									<label>Zip</label>
									<input type="text" name = "zip" value = "" class="form-control">
								</div>
                <div class="form-group col-md-4">
									<label>Country</label>
									<input type="text" name = "country" value = "" class="form-control">
								</div>
              </div>




							<label>{{error}}</label>
							<button class="btn btn-primary" type="submit">Save</button>
						</form>

					</div>

				</div>
            </div>
		</div>
	</div>
</div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'manager/js/lightgallery-all.min.js'%}" ></script>

	<script src="{% static 'manager/js/moment.min.js'%}" ></script>
	<script src="{% static 'manager/js/daterangepicker.js'%}" ></script>

	<script src="{% static 'manager/js/bootstrap-clockpicker.min.js'%}" ></script>

	<script src="{% static 'manager/js/bootstrap-material-datetimepicker.js'%}" ></script>

	<script src="{% static 'manager/js/picker.js'%}" ></script>
	<script src="{% static 'manager/js/picker.time.js'%}" ></script>
	<script src="{% static 'manager/js/picker.date.js'%}" ></script>



	<script src="{% static 'manager/js/bs-daterange-picker-init.js'%}" ></script>
	<script src="{% static 'manager/js/material-date-picker-init.js'%}" ></script>
	<script src="{% static 'manager/js/pickadate-init.js'%}" ></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<script>
		$(document).ready(function() {
		$('.js-dropdown-teachers').select2();
	});
	</script>

{% endblock scripts %}
