{% extends 'employee/base.jinja' %}
{% load static %}

{% block style %}
    <link href="{% static 'employee/css/dataTables.min.css' %}" rel="stylesheet">
{% endblock style %}

{% block content %}
        ***********************************-->
        <div class="content-body">
			<div class="container-fluid">
				<!-- Add Project -->
				<div class="modal fade" id="addProjectSidebar">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Create Project</h5>
								<button type="button" class="close" data-dismiss="modal"><span>&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form>
									<div class="form-group">
										<label class="text-black font-w500">Project Name</label>
										<input type="text" class="form-control">
									</div>
									<div class="form-group">
										<label class="text-black font-w500">Deadline</label>
										<input type="date" class="form-control">
									</div>
									<div class="form-group">
										<label class="text-black font-w500">Client Name</label>
										<input type="text" class="form-control">
									</div>
									<div class="form-group">
										<button type="button" class="btn btn-primary">CREATE</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Hi, welcome back!</h4>
                            <span>Datatable</span>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Table</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">Datatable</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->


                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Basic Datatable</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example" class="display" style="min-width: 845px">
                                        <thead>
                                            <tr>
                                                <th>Lesson</th>
                                                <th>Teacher</th>
                                                <th>Subject</th>
                                                <th>Start</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for lesson in lessons %}
                                                <tr>
                                                    <td><a class = "badge badge-info light" href = "{% url 'employee_lesson' lesson.pk %}">{{lesson.name}}</a></td>
                                                    <td><a class = "badge badge-success" href = "{% url 'employee_profile' %}">{{lesson.teacher}}</a></td>
                                                    <td>{{lesson.subject}}</td>
                                                    <td>{{lesson.start}}</td>
                                                    <td>
                                                        <div class="ml-auto">
                                                            <a href="{% url 'employee_lesson_edit' lesson.pk %}" class="btn btn-primary btn-xs sharp mr-1"><i class="fa fa-pencil"></i></a>
                                                            <a href="{% url 'employee_lesson_delete' lesson.pk %}" class="btn btn-danger btn-xs sharp"><i class="fa fa-trash"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
            </div>
        </div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'employee/js/moment.min.js'%}" ></script>

    <script src="{% static 'employee/js/jquery.dataTables.min.js'%}" ></script>
    <script src="{% static 'employee/js/datatables.init.js'%}" ></script>
{% endblock scripts %}
