{% extends 'employee/base.jinja' %}
{% load static %}

{% block style %}
    <link href="{% static 'employee/css/lightgallery.min.css' %}" rel="stylesheet">

	<link href="{% static 'employee/css/daterangepicker.css' %}" rel="stylesheet">
	<link href="{% static 'employee/css/bootstrap-clockpicker.min.css' %}" rel="stylesheet">
	<link href="{% static 'employee/css/bootstrap-material-datetimepicker.css' %}" rel="stylesheet">

	<link href="{% static 'employee/css/pickadate.default.css' %}" rel="stylesheet">
	<link href="{% static 'employee/css/pickadate.default.date.css' %}" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />



{% endblock style %}

{% block content %}
<div class="content-body">
	<div class="container-fluid">
		<div class="row page-titles mx-0">
			<div class="col-sm-6 p-md-0">
				<div class="welcome-text">
					<h4>Hi, welcome back!</h4>
					<p class="mb-0">4Schoolers welcomes you.</p>
				</div>
			</div>
			<div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="javascript:void(0)">Lessons</a></li>
					<li class="breadcrumb-item active"><a href="javascript:void(0)">Edit Lesson</a></li>
				</ol>
			</div>
		</div>
		<!-- row -->
		<div class = "row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Edit Lesson</h4>
					</div>
					<div class="card-body">
						<form action="" method = "POST" name = "edit_account" enctype="multipart/form-data"> {% csrf_token %}
							<div class="form-row">
								<div class="form-group col-md-4">
									<label>Lesson name</label>
									<input type="text" name = "name" value = "{{lesson.name}}" class="form-control">
								</div>
								<div class="form-group col-md-4">
									<label>Subject</label>
										<select class="form-control default-select" id="inputState" name = "subject">
                                            <option selected="">{{lesson.subject}}</option>
											<option>Mathematics</option>
											<option>Computer Science</option>
											<option>English</option>
											<option>Chemistry</option>
											<option>Physics</option>
											<option>History</option>
											<option>Academic Advising</option>
											<option>Competitive Math</option>
											<option>Projects</option>
											<option>Essay Writing</option>
										</select>
								</div>
								<div class="form-group col-md-4">
									<label>Student</label>
										<select multiple class="js-dropdown-teachers" name="student">
											{% for student in students %}

                                                {% if student in lesson.students.all %}
                                                    <option value="{{student.pk}}" selected>{{student.user.get_full_name}}</option>
                                                {% else %}
                                                    <option value="{{student.pk}}">{{student.user.get_full_name}}</option>
                                                {% endif %}
												
											{% endfor %}
										</select>

								</div>
							</div>

							<div class="form-row">
								<div class="form-group col-md-12">
									<label >Class Description</label>
									<textarea rows="8" class="form-control" name="descr" id="descr">{{lesson.description}}</textarea>
								</div>
							</div>

							
							
							<div class="row form-material">
								<div class="col-xl-3 col-xxl-6 col-md-6 mb-3">
									<label>Lesson Start time</label>
									<input type="text" class="form-control" placeholder="Set End Date and Time" value = "{{lesson.start.year}}/{{lesson.start.month}}/{{lesson.start.day}} {{lesson.start.hour}}:{{lesson.start.minute}}" name = "start"  id="min-date">
								</div>
								<div class="col-xl-3 col-xxl-6 col-md-6 mb-3">
									<label>Lesson End time</label>
									<input type="text" class="form-control" name = "end" placeholder="Set End Date and Time" value = "{{lesson.end.year}}/{{lesson.end.month}}/{{lesson.end.day}} {{lesson.end.hour}}:{{lesson.end.minute}}" id="min-date-end">
								</div>
							</div>
							<hr>
							<div class="row form-material">
								<div class="col-xl-3 col-xxl-6 col-md-6 mb-3">
									<label>Classwork File name</label>
									<input type="text" class="form-control"  name = "cw_name" value = "{{lesson.classwork.name}}" >
								</div>
								<div class="col-xl-3 col-xxl-6 col-md-6 mb-3">
									
									
									{% if lesson.classwork.file %}
										<label><a href="{{lesson.classwork.file.url}}" target="_blank"  class="tooltip-test text-primary" data-toggle="tooltip">Classwork File</a></label>
										
									{% else %}
										<label>Classwork File</label>
									{% endif %}
									<input type="file" class="form-control" name = "cw_file" >
								</div>
							</div>

							<div class="form-row">
								<div class="form-group col-md-12">
									<label >Classwork File Description</label>
									<textarea rows="8" class="form-control" name="cw_descr" id="cw_descr">{{lesson.classwork.description}}</textarea>
								</div>
							</div>
							<hr>
							<div class="row form-material">
								<div class="col-xl-3 col-xxl-6 col-md-6 mb-3">
									<label>Homework File name</label>
									<input type="text" class="form-control"  name = "hw_name" value = "{{lesson.homework.name}}" >
								</div>
								<div class="col-xl-3 col-xxl-6 col-md-6 mb-3">
									
									
									{% if lesson.homework.file %}
										<label><a href="{{lesson.homework.file.url}}" target="_blank" class="tooltip-test text-primary" data-toggle="tooltip">Homework File</a></label>
										
									{% else %}
										<label>Homework File</label>
									{% endif %}
									<input type="file" class="form-control" name = "hw_file" >
								</div>
							</div>

							<div class="form-row">
								<div class="form-group col-md-12">
									<label >Homework File Description</label>
									<textarea rows="8" class="form-control" name="hw_descr" id="hw_descr">{{lesson.homework.description}}</textarea>
								</div>
							</div>


							<label>{{error}}</label>
							<button class="btn btn-primary" type="submit">Save</button>
						</form>
						
					</div>
					
				</div>
            </div>
		</div>
	</div>		
</div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'employee/js/lightgallery-all.min.js'%}" ></script>

	<script src="{% static 'employee/js/moment.min.js'%}" ></script>
	<script src="{% static 'employee/js/daterangepicker.js'%}" ></script>

	<script src="{% static 'employee/js/bootstrap-clockpicker.min.js'%}" ></script>

	<script src="{% static 'employee/js/bootstrap-material-datetimepicker.js'%}" ></script>

	<script src="{% static 'employee/js/picker.js'%}" ></script>
	<script src="{% static 'employee/js/picker.time.js'%}" ></script>
	<script src="{% static 'employee/js/picker.date.js'%}" ></script>



	<script src="{% static 'employee/js/bs-daterange-picker-init.js'%}" ></script>
	<script src="{% static 'employee/js/material-date-picker-init.js'%}" ></script>
	<script src="{% static 'employee/js/pickadate-init.js'%}" ></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<script>
		$(document).ready(function() {
		$('.js-dropdown-teachers').select2();
	});
	</script>

{% endblock scripts %}
