{% extends 'student/base_not_loged.jinja' %}
{% load static %}

{% block bodyclass %}vh-100{% endblock %}
{% block content %}

{{user}}

    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
									<div class="text-center mb-3">
										<img src="{% static 'student/img/logo-min.png' %}" alt="">
									</div>
                                    <h4 class="text-center mb-4">Reset your password</h4>
                                    <form action="" method = "POST"> {% csrf_token %}
                                        <div class="form-group">
                                            <label class="mb-1"><strong>Password</strong></label>
                                            <input required type="password" class="form-control" name = "password">
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-1"><strong>Repeat Password</strong></label>
                                            <input required type="password" class="form-control" name = "password2">
                                        </div>
                                        
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary btn-block">Reset</button>
                                        </div>
                                        {% if weak %}
                                            <div class="new-account mt-3">
                                                <p> Too weak password </p>
                                            </div>
                                        {% endif %}

                                        {% if error %}
                                            <div class="new-account mt-3">
                                                <p> An error has occured </p>
                                            </div>
                                        {% endif %}

                                        {% if invalid%}
                                            <div class="new-account mt-3">
                                                <p> Password is too weak or not matching </p>
                                            </div>
                                        {% endif %}

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts%}

{% endblock %}
